#body{
	background-color: #EEEEF1;
}
.nav-bar{
	overflow: hidden;
	background-color: black;
	margin: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.nav-bar li{
	display: inline;
	list-style-type: none;
	color:white;
	/*float:left;*/
}
.nav-bar li a{
	text-decoration: none;
	float: right;
	display: block;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: large;
	text-align: center;
}
.nav-bar li a:hover{
	transform: scale(1.1);
}
.nav-bar li p{
	display: inline;
	font-size:xx-large; 
}
.containers{
	box-sizing:border-box;
	position: relative;
	text-align:center;
	color:white;
	margin:0px;
	padding:0px;
	width:100%;
}
.containers img{
	margin:0px;
	padding:0px;
	width:100%;
	filter:brightness(60%);
}
.heading1 {
  position: absolute;
  top: 15%;
  left: 80px;
  width: 45%;
  text-align: left;
}
.heading1 h1{
	font-weight:600;
	font-size:5em;
	text-align:left;
}
.heading1 h3{
	text-align:left;
	font-size: 3em;
}
.heading1 p{
	color: white;
	text-align: left;
}
.heading1 button{
	text-align:center;
	height:42px;
	width:120px;
	margin-top:30px;
	background-color:inherit;
	border:double 3px white;
	font-size:large;
	font-weight:bold;
	filter:saturate(8);
	
}
.about{
	width: 100%;
	color:black;
	padding:30px 150px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.about h2{
	font-size:3.3em;
	font-weight:bold;
	text-align: center;
}
.about p{
	font-size:large;
	color:#5C5C62;
	text-align: center;
}
.itembar{
	width: 100%;
	margin-top: 15px;
	padding:30px 150px;
	display: inline-flex;
}
.items{
	float: left;
	display: block;
	width: 45%;
	height: 250px;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: auto;
	color:black;
	text-align: center;
	padding: 5px;
}
.items img{
	height: 90px;
	width: 90px;
	padding: 2px;
}
.items:hover{
	transform: scale(1.05);
}
.items h3{
	font-size: large;
	font-weight: bold;
}
.team{
	width: 100%;
	color:black;
	padding:30px 150px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #D4D4D8;
}
.team h2{
	font-size:3.3em;
	font-weight:bold;
	text-align: center;
}
.team p{
	font-size:large;
	color:#5C5C62;
	text-align: center;
}
.carousel-inner img{
	margin: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event{
	width: 100%;
	color:black;
	padding:30px 150px;
	margin-bottom: 10px;
	margin-top: 20px;
	background-color: #D4D4D8;
	
}
.event h2{
	font-size:3.3em;
	font-weight:bold;
	text-align: center;
}
.event p{
	font-size:large;
	color:#5C5C62;
	text-align: center;
}
.eve-bar{
	width: 100%;
	display: inline-block;
}
.eventbar{
	width: 50%;
	float: left;
	margin-top: 60px;
}
.event-subbar{
	/*float: left;*/
	width: 80%;
	height: 80px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event-subbar:hover{
	transform: scale(1.1);
}
.event-subbar h1{
	font-weight: bold;
	font-size: 3em;
	float: left;
}
.glimpse{
	width: 50%;
	float: right;
	margin-top: 25px;
	padding:10px; 
}
.glimpse h3{
	font-weight: bold;
	text-align: center;
	font-size: 3em;
}
.carousel-inner .image{
	/*height: 200px;*/
	width: 200px;
	float: right;
}
.mentor{
	width: 100%;
	color:black;
	padding:30px 150px;
	margin-bottom: 10px;
	margin-top: 20px;
	/*background-color: #D4D4D8;*/
	
}
.mentor h2{
	font-size:3.3em;
	font-weight:bold;
	text-align: center;
}
.mentor p{
	font-size:large;
	color:#5C5C62;
	text-align: center;
}
.mentor1{
	float: left;
	width: 40%;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.mentor2{
	float: right;
	width: 40%;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.mentor1 img,.mentor2 img{
	height: 250px;
	width: 250px;
	float: left;
	margin:0px;
}
.sub-mentor{
	float: left;
	margin-left: 15px; 
	margin-top: 50px;
}
.sub-mentor hr{
	margin: 0px;
}
.quote{
	width: 100%;
	color:black;
	padding:30px 150px;
	margin-bottom: 10px;
	margin-top: 20px;
	/*background-color: #D4D4D8;*/
	
}
.quote h2{
	font-size:3.3em;
	font-weight:bold;
	text-align: center;
}
.quote p{
	font-size:large;
	color:#5C5C62;
	text-align: center;
}


.homepage3{
	background-color: black;
	padding: 30px;
}
.info th,.address th{
	padding: 3px;
	padding-right: 50px;
	padding-left: 20px;
	color: #878787;
}
.info td,.address td{
	color:white;
	padding-right: 50px;
	padding-left: 20px;
}
.info{
	float: left;
} 

.socialmedia h2{
	color: #878787;
	padding: 5px;
}
.socialmedia table{
	margin-left: 20px;
	width: 100%;
}
.socialmedia a img{
	height: 80px;
	width: 80px;
	margin-right: 15px;
}
.socialmedia a img:hover{
	transform: scale(1.1);
}
.socialmedia input{
	height: 50px;
	width: 300px;
}
.socialmedia button{
	height: 50px;
}
